/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html,
body {
  height: 100%;
  background-color: #c888f2;
  

}

body {
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 0.5);
}

html,
header {
  color:  #eb34a1;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 0.377);
}

html,
.class-inner {
color:rgba(0, 0, 0, 0.822)
}
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  
  /* Links */
    a,
    a:focus,
    a:hover {
    color: #fff;
    }


  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  